body{
    margin: 0;
    font-family: Poppins, sans-serif;
}
/* navbar */
.header{
    position: absolute;
    bottom: -18px;
    left: 3rem;
    color: #fff;
    font-weight: 600;
    font-size: 32px;
}
.header-link{
    color: #fff;
    text-decoration: none;
}
.header-link:hover{
    color: #fff;
}
nav{
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(35,45,57,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-icon{
    width: 50%;
    height: 50%;
    margin-right: 10rem;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
.btn{
    height: 2.5rem;
    width: 7%;
    font-size: 0.8rem;
    position: absolute;
    top: 4px;
    right: 4rem;
    background-color: rgb(237, 86, 59);
    border: none;
    color: #fff;
    
}
.btn:hover{
    color: rgb(237, 86, 59);
}
.nav-section{
    width: 100%;
    position: relative;
}
nav ul{
    display: flex;
    float: right;
    margin-right: 9rem;
}
li{
    list-style: none;
    font-size: 6px;
    
}
li .nav-link{
    list-style: none;
    margin: 20px;
    color: rgb(255, 255, 255);
    font-size: 13px;
}
.nav-link{
    text-decoration: none;
}
.nav-link:hover{
    color: rgb(237, 86, 59);
    cursor: pointer;
}
span{
    color: rgb(237, 86, 59);
}
/* main section */
.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.main-section{
    text-align: center;
    margin-top: 14rem;
    color: #fff;
}
.work-harder{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom:-40px ;
}
.easy{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.btn-2{
    height: 2.5rem;
    width: 13%;
    background-color: rgb(237, 86, 59);
    border: none;
    font-weight: bold;
}
.section-link{
    color: #fff;
    text-decoration: none;
}
.section-link:hover{
    color: #fff;
}
.btn-2:hover{
    background-color:rgb(221, 119, 101) ;
}
/* first section */
.first-section{
    margin-top: 25rem;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin-left: 6rem;
    margin-top: 3rem;
}
.choose-program{
    font-weight: 800;
    color: rgb(35, 45, 57);
}
.first-section-p{
    color: rgb(122, 122, 122);
}
.first-section-icon{
    float: left;
    margin-right: 30px;
}
.first-section-link{
    text-decoration: none;
    font-size: 12px;
}
.first-section-img{
    margin-top: 1.2rem;
}
.first-section-para{
    color: rgb(122, 122, 122);
}
/* call to action */
#CTA{
    background-image: url(asset/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 120px 0px;
    background-position: center center;
    margin-top: 6rem;
    /* color: rgb(33, 37, 41); */
    /* background-color: rgba(35,45,57,0.8); */
}
.cta-heading{
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
}
.cta-paragraph{
    color: #fff;
    font-size: 1rem;
}
/* Classes section */
.classes-section{
    margin-top: 8rem;
}
.classes-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin-left: 5rem;
    margin-top: 3rem;
}
#tabs ul li a {
    text-transform: capitalize;
    width: 70%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    font-size: 19px;
    color: rgb(35, 45, 57);
    letter-spacing: 0.5px;
    font-weight: 600;
    padding: 2rem;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin: 1rem;
}
.Schedule-btn a{
    text-align: center;
    width: 70%;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 600;
    background-color: rgb(237, 86, 59);
    letter-spacing: 0.5px;
    padding:30px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 1rem;
}
 .Schedule-btn a:hover {
    background-color: #f9735b;
  }
  .tab-content{
    margin-top: 2rem;
  }
  .tab-content img{
    overflow: hidden;
    border-radius: 5px;
}
.tab-content h4 {
    font-size: 23px;
    font-weight: 700;
    color: #232d39;
    margin-bottom: 20px;
  }
  .tab-content p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 28px;
  }
  .tab-content-btn{
    width: 24%;
    background-color: rgb(237, 86, 59);
    border: none;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
  }
  .tab-content-btn:hover{
    background-color: #f9735b;
  }
 .remain-tab-content{
    /* display: none; */
 }
 /* schedule classes */
 #schedule {
    padding: 0px 0px 140px 0px;
    background-image: url(asset/schedule-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-top: 7rem;
}
.container{
    margin-left: 6rem;
}
.section-heading{
    padding-top: 5rem;
}
.section-heading,h2,p {
    color: #fff;
    font-weight: bold;
}
.section-heading-h2{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.8rem;
}
.filters{
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}
#schedule .filters ul li {
    list-style: none;
    display: inline;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

a:active{
    color: #ed563b;
}


#schedule .filters ul li.active, 
#schedule .filters ul li:hover {
    color: #ed563b;
}

#schedule .filters ul li:after {
    content: "/";
    margin-left: 10px;
    color: #fff;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#schedule table {
    width: 80%;
    margin-left: 8rem;
    border: 1px solid #fff;
    border-collapse: collapse;
}
td{
    padding: 2rem;
}
* {
    box-sizing: border-box;
}

#schedule table tbody {
    border-top: 1px solid #fff;
}

#schedule table tbody tr {
    border-bottom: 1px solid #fff;
}

#schedule table tbody tr td {
    border-right: 1px solid #fff;
    height: 100px;
}

#schedule table tr td {
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.schedule-table.filtering .ts-item {
    opacity: 0;
    transition: all 0.5s;
}

.schedule-table.filtering .ts-item.show {
    opacity: 1;
    transition: all 0.5s;
}

#trainers .trainer-item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
}
.trainer-section{
    text-align: center;
    margin-top: 7rem;
}
.trainer-h2{
    color: #232d39;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 800;
}
.trainer-para{
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
}
.trainer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}
#trainers .trainer-item img {
    width: 100%;
    border-radius: 5px;
}
.trainer-paragraph{
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
}
#trainers .trainer-item span {
    font-size: 13px;
    font-weight: 500;
    color: #ed563b;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
}

#trainers .trainer-item ul.social-icons li {
    display: inline-block;
    margin-right: 12px;
    font-size: 1rem;
}

#trainers .trainer-item ul.social-icons li a {
    color: #232d39;
    transition: all .3s;
}
#trainers .trainer-item ul.social-icons li a:hover{
    color: #f9735b;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

.fa-facebook-f:before, 
.fa-facebook:before {
    content: "\f09a";
}

.fa-twitter:before {
    content: "\f099";
}

.fa-linkedin:before {
    content: "\f0e1";
}

#trainers .trainer-item ul.social-icons li:last-child {
    margin-right: 0px;
}

.fa-behance:before {
    content: "\f1b4";
}

#contact-us {
    margin-top: 140px;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#contact-us .container-fluid .col-lg-6 {
    padding: 0px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 500px;
    width: 600px;
}

#contact-us .contact-form {
    padding: 80px;
    background-image: url(asset/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact-us .contact-form #contact {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.contact-form input, .contact-form textarea {
    color: #7a7a7a;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 40px;
    outline: none;
    line-height: 40px;
    padding: 0px 10px;
    appearance: none;
    margin-bottom: 30px;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

footer {
    text-align: center;
    padding: 30px 0px;
}

footer p {
    color: #232d39;
    font-size: 13px;
}

.hide {
    display: none;
}

/* media query */

@media screen and (min-width: 767px) {
    .header-area .main-nav .nav {
        display: flex;
    }

    
}

@media (min-width: 701px) and (max-width: 900px) {
   
    .main-banner .caption h6 {
        margin-top: 50px;  
    }  

    .header-area .main-nav .logo {
        text-indent: 40px;
    }
  }
  

@media screen and (max-width: 700px) {
    .nav {
        display: none;
    }

    .header-area .main-nav {
        background-color: #fff;
    }

    .header-area .main-nav .logo {
        color: black;
        text-indent: 80px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .container {
        width: 100%;
        padding-right: 0;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }

    #navtoggle {
        position: absolute;
        visibility: visible;
        right: 60px;
        top: 14px;    
    }

    #navClose {
        position: absolute;
        right: 60px;
        top: 25px; 
    }

    .main-banner .caption h2 {
        margin-top: 30px;
        margin-bottom: 25px;
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 800;
        color: #fff;
        letter-spacing: 1px;
    }

}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 992px) {
    .offset-lg-3 {
        margin-left: 25%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .offset-lg-1 {
        margin-left: 8.333333%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

 /* #schedule{
    background-image: url(asset/);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 140px;
    background-position: center center;
    text-align: center;
    margin-top: 7rem;
 }
 .schedule-h2{
    font-weight: 900;
    text-transform: uppercase;
 }
 .schedule-week{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .schedule-week,li{
    font-size: 1rem;
    margin-top: 2rem;
    padding: 1rem;
}
 .schedule-week a{
    text-decoration: none;
    color: black;
 }
 .schedule-week,li :hover{
    color: #f9735b;
    text-decoration: none;
 }
 .schedule-table{
        width: 50%;
        border: 2px solid black;
        border-collapse: collapse;
        margin: 10px 20px 0 30px;
        text-align: center;
 }
 #schedule table tbody {
    border-top: 1px solid black;
}
td{
    padding: 5px;
    border: 1px solid black;
} */



  


  